<div class="sponsor">
  <br />
  <p class="asidetitle">赞助商</p>
  <a target="_blank" href="https://boxueio.com/">
  <img src="http://wx1.sinaimg.cn/large/65dc76a3ly1fduudtak0zj206j05kglq.jpg" width="235px" height="200px" />
  </a>
  <br /><br /><a href="/sponsor">
  <font color="#2ca6cb" style="
    font-size: 14px;
    text-align: right;
">购买广告位</font></a>
</div>
