<div class="sponsor">
  <br />
  <p class="asidetitle">广告</p>
  <a target="_blank" href="http://campus.sogou.com/">
  <img src="http://ww4.sinaimg.cn/large/65dc76a3gw1f79ry8worsj206j05kwfm.jpg" width="235px" height="200px" />
  </a>
  <br />
  <br />
  <a target="_blank" href="http://gold.xitu.io/welcome/ios/?utm_source=tangqiao&utm_medium=banner&utm_content=gaoshou&utm_campaign=q3_personal">
  <img src="http://ww2.sinaimg.cn/mw690/65dc76a3gw1f6i3ic2iypj20q40m8dgv.jpg" width="235px" height="200px" />
  </a>

  <br /><a href="/sponsor"><font color='#2ca6cb'>购买广告位</font></a>
</div>
