<div class="sponsor">
  <br />
  <p class="asidetitle">广告</p>
  <a target="_blank" href="https://www.jianxun.io?utm_source=tangqiao&utm_medium=webad&utm_campaign=regular&utm_content=&utm_term=rightbanner">
  <img src="https://www.jianxun.io/ad/20151101/tangqiao-rightbanner.jpg" width="235px" height="200px" />
  </a>

  <br /><a href="/sponsor"><font color='#2ca6cb'>购买广告位</font></a>
</div>
