<div class="sponsor">
  <br />
  <p class="asidetitle">赞助商</p>
  <a target="_blank" href="https://partner.lizhi.io/tangqiao/cp">
  <img src="http://wx1.sinaimg.cn/mw690/65dc76a3ly1fpax34wnsaj20d20b4gls.jpg" width="235px" height="200px" />
  </a>
  <br />
  <a href="/sponsor">
  <font color="#2ca6cb" style="
    font-size: 14px;
    text-align: right;
">购买广告位</font></a>
</div>
