<div class="sponsor">
  <br />
  <p class="asidetitle">广告</p>
  <a target="_blank" href="https://h5.jianxun.io/20160321-qianlima?utm_source=event&utm_medium=blog_ad&utm_campaign=qianlima&utm_content=tangqiao&utm_term=wangzhan">
  <img src="https://www.jianxun.io/ad/20151101/tangqiao-rightbanner.jpg" width="235px" height="200px" />
  </a>

  <br /><a href="/sponsor"><font color='#2ca6cb'>购买广告位</font></a>
</div>
