<div class="sponsor">
  <br />
  <p class="asidetitle">广告</p>
  <a target="_blank" href="https://jianxun.io/?utm_source=ad&utm_medium=site_ad&utm_compaign=tangqiao&utm_content=pos_right&utm_term=jialezhang">
  <img src="https://jianxun.io/gg/201607/tangqiao/235x200.jpg" width="235px" height="200px" />
  </a>
  <br />
  <br />
  <a target="_blank" href="http://gold.xitu.io/extension/?utm_source=tangqiao&utm_medium=banner&utm_content=juhe&utm_campaign=q3_extension">
  <img src="http://ww1.sinaimg.cn/large/65dc76a3gw1f7eflvezerj206j05kglt.jpg" width="235px" height="200px" />
  </a>
  <br />
  <br /><br /><a href="/sponsor">
  <font color="#2ca6cb" style="
    font-size: 14px;
    text-align: right;
">购买广告位</font></a>
</div>
