<div class="sponsor">
  <br />
  <p class="asidetitle">广告</p>
  <a target="_blank" href="https://jianxun.io/?utm_source=ad&utm_medium=site_ad&utm_compaign=tangqiao&utm_content=pos_right&utm_term=jialezhang">
  <img src="https://jianxun.io/gg/201607/tangqiao/235x200.jpg" width="235px" height="200px" />
  </a>
  <br />
  <br />
  <a target="_blank" href="https://www.bugtags.com/?utm_source=devtang&utm_medium=banner&utm_campaign=678_banner&utm_content=umbrella&utm_term=inapp">
  <img src="http://ww2.sinaimg.cn/large/65dc76a3gw1f4o63qmcxlj206j05kwf0.jpg" width="235px" height="200px" />
  </a>
  <br />
  <br />
  <a target="_blank" href="http://www.qiniu.com/products/live?utm_campaign=zhiboyunproduct&utm_source=tangqiao&utm_medium=advposition&utm_content=png">
  <img src="http://ww4.sinaimg.cn/large/65dc76a3gw1f5gsbqhjyej206j05kgmy.jpg" width="235px" height="200px" />
  </a>

  <br /><a href="/sponsor"><font color='#2ca6cb'>购买广告位</font></a>
</div>
