<div class="sponsor">
  <br />
  <p class="asidetitle">广告</p>
  <a href="/sponsor">
  <img src="http://ww3.sinaimg.cn/mw690/65dc76a3jw1f1ngab3tv8j2078061mye.jpg" width="235px" />
  </a>

  <!--
  <br /><a href="/sponsor"><font color='#2ca6cb'>购买广告位</font></a>
  -->
</div>
